<main class="flex justify-center items-center min-h-screen">
	<div class="grid grid-cols-3 md:gap-25 lg:gap-44">
		<div>
			<app-menu-cards menuCardName="Pessoas" routePath="/characters" />
		</div>
		<div>
			<app-menu-cards menuCardName="Planetas" routePath="/planets" />
		</div>
		<div>
			<app-menu-cards menuCardName="Filmes" routePath="/films" />
		</div>
		<div>
			<app-menu-cards menuCardName="Espécies" routePath="/species" />
		</div>
		<div>
			<app-menu-cards menuCardName="Veículos" routePath="/vehicles" />
		</div>
		<div>
			<app-menu-cards menuCardName="Espaçonaves" routePath="/starships" />
		</div>
	</div>
</main>
